{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Sign up{% endblock %}

{% block content %}
  <h2>Sign up</h2>
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button class="btn btn-success" type="submit">Sign up</button>
  </form>
{%endblock%}
